version: '2'
services:
  virtualmin:
    build:
      context: ${OS}
      args:
        - FQDN=${FQDN}
        - UNINSTALL=${UNINSTALL}
        - HOSTNAME=${HOSTNAME}
        - MINIMAL=${MINIMAL}
        - BUNDLE=${BUNDLE}
        - DISABLE=${DISABLE}
        - PASSWD=${PASSWD}
        - DNS1=${DNS1}
        - DNS2=${DNS2}
        - SSH=${SSH}
        - DATA_VOLUME=${DATA_VOLUME}
        - VOLUME_DRIVER=${VOLUME_DRIVER}
    environment:
      - FQDN=${FQDN}
      - UNINSTALL=${UNINSTALL}
      - HOSTNAME=${HOSTNAME}
      - MINIMAL=${MINIMAL}
      - BUNDLE=${BUNDLE}
      - DISABLE=${DISABLE}
      - PASSWD=${PASSWD}
      - DNS1=${DNS1}
      - DNS2=${DNS2}
      - SSH=${SSH}
      - DATA_VOLUME=${DATA_VOLUME}
      - VOLUME_DRIVER=${VOLUME_DRIVER}
    dns:
      - ${DNS1}
      - ${DNS2}
    ports:
      - "20:20"
      - "21:21"
      - "${SSH}:22"
      - "25:25"
      - "53:53"
      - "53:53/udp"
      - "80:80"
      - "110:110"
      - "111:111"
      - "143:143"
      - "443:443"
      - "587:587"
      - "993:993"
      - "995:995"
      - "3306:3306"
      - "10000:10000"
      - "20000:20000"
      - "38532:38532"
      - "40259:40259"

    tty: true
    stdin_open: true
    user: root
#    command: [/bin/bash, -c, "screen -S ops -d -m /bin/bash"]
#    labels:
#      io.rancher.sidekicks: VirtualminData
#    volumes:
#      - ${DATA_VOLUME}/home
#    volumes_from:
#      - VirtualminData

#  VirtualminData:
#    image: busybox
#    build:
#      args:
#        - DATA_VOLUME=${DATA_VOLUME}
#    environment:
#      - DATA_VOLUME=${DATA_VOLUME}
#    labels:
#      io.rancher.container.start_once: 'true'
#    entrypoint: /bin/true
#    volumes:
#      - ${DATA_VOLUME}/home
#    volume_driver: ${VOLUME_DRIVER}
