Minecraft:
  environment:
    - EULA
    - VERSION
    - DIFFICULTY
    - MODE
    - LEVEL_TYPE
    - GENERATOR_SETTINGS
    - PVP
    - WHITELIST
    - OPS
    - MOTD
    - SEED
    - WORLD
    - ICON
    - INIT_MEMORY
    - MAX_MEMORY
    - ENABLE_QUERY
    - QUERY_PORT
    - MAX_PLAYERS
    - MAX_TICK_TIME
    - VIEW_DISTANCE
    - TYPE
  tty: true
  image: cutech/minecraft-server
  ports:
    - "25565:25565"
    - "25566:25566/udp"
    - "25575:25575"
  stdin_open: true
  labels:
    io.rancher.sidekicks: MinecraftData
  volumes_from:
    - MinecraftData

MinecraftData:
  image: busybox
  labels:
    io.rancher.container.start_once: 'true'
  net: none
  entrypoint: /bin/true
  volumes:
    - ${DATA_VOLUME}/data
  volume_driver: ${VOLUME_DRIVER}

