# Declare compose version
version: '2'
services:
  virtualmin:
    environment:
      - FQDN
      - UNINSTALL
      - HOSTNAME
      - MINIMAL
      - BUNDLE
      - DISABLE
    image: ${OS}
    ports:
      - "20:20"
      - "21:21"
      - "22:22"
      - "25:25"
      - "53:53"
      - "53:53/udp"
      - "80:80"
      - "110:110"
      - "111:111"
      - "143:143"
      - "443:443"
      - "587:587"
      - "993:993"
      - "995:995"
      - "3306:3306"
      - "10000:10000"
      - "20000:20000"
      - "38532:38532"
      - "40259:40259"
    hostname: ${HOSTNAME}
    tty: true
    stdin_open: true
    command: [/bin/bash, -c, "\"root:${PASSWD}\" | chpasswd && sed -i s/true/false/ /etc/apt/apt.conf.d/docker-gzip-indexes && apt-get update -y && apt-get upgrade -y && apt-get -y install apt-utils curl dialog gnupg gnupg2 gnupg1 nano perl postgresql postgresql-client procps screen sudo ssh wget && wget http://software.virtualmin.com/gpl/scripts/install.sh && sh install.sh -f -n ${FQDN} ${UNINSTALL} ${SETUP} ${MINIMAL} ${BUNDLE} ${DISABLE} && chmod +x install.sh && apt-get install -y ffmpeg libapache2-mod-php libdbd-pg-perl php-geoip php-imagick php-dev php-memcached php-cgi php-cli php-common php-curl php-gd php-gmp php-imap php-ldap php-mcrypt php-mysql subversion && apt-get -y autoremove"]
